/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------Mano Kodas------*/

/*----Section Intro-----*/

.intro {
  height: 100vh;
  background-image: url("./img/background.jpg");
  /* background: linear-gradient(to top, rgb(55, 129, 240, 0.4), transparent 50%); */
}

.container {
  display: block;
  width: 32%;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.container h1 {
  font-size: 45px;
  font-family: Oswald, serif;
  font-weight: bold;
  padding-top: 30vh;
  padding-bottom: 3vh;
}
.container p {
  font-family: Oswald, serif;
  font-size: 18px;
  padding-bottom: 3vh;
}
.container form {
  display: block;
  margin: 0 auto;
  background-color: black;
  width: 80%;
  padding: 2% 1%;
  border-radius: 10px;
  text-align: center;
}
.container input[type="email"] {
  display: inline-block;
  width: 50%;
  padding: 2% 3%;
  border-radius: 5px;
}
.container input[type="submit"] {
  display: inline-block;
  width: 35%;
  padding: 2% 3%;
  background-color: rgb(25, 140, 235);
  text-align: center;
  color: white;
  border-radius: 5px;
}
.container .note {
  font-size: 15px;
  margin-top: 5vh;
}

/*----Section Card-----*/

.card {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10% 0;
  text-align: center;
  background: white;
}
.card div {
  display: inline-block;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.card img {
  width: 80%;
  height: 100%;
  border-radius: 80%;
  overflow: hidden;
}
.card h4 {
  font-size: 25px;
  font-weight: bold;
  font-family: Oswald, serif;
  margin-top: 3vh;
  padding-bottom: 3vh;
}
.card p {
  margin: 0 auto;
  width: 50%;
  font-family: Oswald, serif;
  color: lightgray;
  padding-bottom: 3vh;
}
.card button {
  box-shadow: inset 0px 0px 0px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffc477 5%, #ff910a 100%);
  background-color: #ffc477;
  border-radius: 6px;
  border: 1px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 26px;
  text-decoration: none;
  text-shadow: 0px 2px 2px #cc9f52;
}
.card button:hover {
  background: linear-gradient(to bottom, #ff910a 5%, #ffc477 100%);
  background-color: #ff910a;
}
.card button:active {
  position: relative;
  top: 1px;
}

/*----Section Benifits-----*/

.benifits {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 3% 0;
  text-align: center;
  background: white;
}
.first_line div {
  display: inline-block;
  width: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
.first_line i {
  color: darkorange;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 3.5em;
  margin-bottom: 20%;
  margin-right: 85%;
}
.first_line h4 {
  font-size: 25px;
  font-weight: bold;
  font-family: Oswald, serif;
  padding-bottom: 3vh;
  text-align: left;
}
.first_line p {
  margin: 0 auto;
  font-family: Oswald, serif;
  color: lightgray;
  text-align: left;
  padding-bottom: 3vh;
}

.second_line {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-top: 5%;
}

.second_line div {
  display: inline-block;
  width: 19%;
  margin-left: 2%;
  margin-right: 2%;
}
.second_line i {
  color: lightgreen;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 6.5em;
  margin-bottom: 5%;
}
.second_line h4 {
  font-size: 25px;
  font-weight: bold;
  font-family: Oswald, serif;
  padding-bottom: 3vh;
  text-align: center;
}
.second_line p {
  margin: 0 auto;
  font-family: Oswald, serif;
  color: lightgray;
  text-align: center;
  padding-bottom: 3vh;
}

/*----Section Form-----*/

.form {
  display: block;
  background-image: url("./img/background_2.jpg");
  background-size: fit;
  height: 100vh;
}
.shadow {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  font-size: 0;
}
.shadow div {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  vertical-align: top;
}

.shadow input {
  width: 50%;
  padding: 3%;
  margin-top: 20px;
  border-color: rgb(240, 240, 240);
}
.shadow input[type="text"] {
  width: 50%;
  padding-bottom: 15%;
  margin-top: 20px;
  border-color: rgb(240, 240, 240);
}
.shadow form {
  margin-left: 20%;
  margin-top: 20%;
}
input::placeholder {
  color: gray;
  font-size: 15px;
  font-weight: bold;
}

.shadow button {
  background-color: darkorange;
  color: white;
  text-shadow: 0.5px 0.5px 1px #000000;
  font-weight: bold;
  width: 57%;
  padding: 2% 0;
  border-radius: 5px;
  margin-top: 2%;
}
.shadow h5 {
  width: 40%;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: Oswald, serif;
  margin-left: 30%;
  margin-top: 30%;
}
.shadow p {
  width: 50%;
  color: lightgray;
  font-size: 1.1rem;
  margin-left: 30%;
  margin-top: 3%;
  padding-bottom: 25%;
}
form p {
  margin-left: 0;
}
.end {
  display: block;
  background-image: url("./img/pexels-startup-stock-photos-7070.jpg");
  background-size: cover;
  height: 100vh;
}
.end_shadow {
  display: block;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.end_shadow h5 {
  width: 40%;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: Oswald, serif;
  margin-left: 10%;
  padding-top: 15%;
}
.end_shadow p {
  width: 30%;
  color: gray;
  font-size: 1.1rem;
  margin-left: 10%;
  margin-top: 2%;
}
.end_shadow button {
  background-color: darkorange;
  color: white;
  text-shadow: 0.5px 0.5px 1px #000000;
  font-weight: bold;
  width: 10%;
  border-radius: 5px;
  border: 0;
  margin-top: 2%;
  padding: 1% 0;
  margin-left: 10%;
}
footer {
  height: 5vh;
  background-color: rgb(0, 65, 139);
}
h2 {
  color: rgb(170, 170, 170);
  text-align: center;
}
